body{
    text-align: center;
    background: linear-gradient( yellow 0%, green 50%);
    font-family: 'Sansita Swashed', cursive;
    padding-top: 150px;
}
.menu{
    list-style: none;
    position: fixed;
    top: 20px;
    left:500px;
    z-index: 10;
    cursor: pointer;
        
}
.links{
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.links:hover{
    font-size: 20px;
    background-color: red;
}
#section1{
    z-index: 9;
    top: 0;
    position: absolute;
    height: 800px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
html{
    scroll-behavior: smooth;
}
img{
    border-radius: 50%;
    margin-bottom: 50px;
}
